{% extends 'base.html.twig' %}
    {% block title %} Hotels {% endblock %}
    {% block transparant %} {% endblock %}
    {% block body %}


        <!--End header -->
        <!-- Sidebar -->
        <section class="">

            <div class="container">
                <div class="row pt-5">
                    <div class="row my-4" style="padding-left: 83%">
                        <div class="col-12 col-md-12"> <a href="{{ path('App_bon_plan_ajout_etablissement') }}" class="btn btn-primary btn-default"> <i class="fa fa-plus-circle pr-2"></i>Add Etab</a> </div>
                    </div>

                    <div class="col-12 col-md-12">
                        <form method="POST">
                            <div class="lis-relative">
                                <h5 class="mb-2">What are you looking for?</h5>
                                <p>Search by Category</p>

                                <div class="row">
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <div class="form-group lis-relative">
                                            <input type="text" name="name" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="What are you looking for?">
                                            <div class="lis-search"> <i class="fa fa-search lis-primary lis-left-0"></i> </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <div class="form-group lis-relative">
                                            <select name="etoile" class="style-select form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4">
                                                <option value="0"> Nombre d'etoiles ? </option>
                                                <option value="1"> 1 </option>
                                                <option value="2"> 2 </option>
                                                <option value="3"> 3 </option>
                                                <option value="4"> 4</option>
                                                <option value="5"> 5 </option>
                                            </select>
                                            <div class="lis-search"> <i class="fa fa-star lis-primary lis-left-0"></i> </div>
                                        </div>
                                    </div>


                                </div>
                                <button class="filter-btn bg-transparent border-0 lis-dark collapsed" data-toggle="collapse" data-target="#demo"> More Filters </button>
                                <div id="demo" class="collapse p-3 mt-3 form-wrapper">
                                    <div class="row mt-3">
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox1" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Care Parking</span> </label>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox5" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Events</span> </label>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox3" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Wireless Internet</span> </label>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox7" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Friendly Workspace</span> </label>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox2" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Smoking Allowed</span> </label>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox6" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Acceted Bank Cards</span> </label>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox4" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Elevator Building</span> </label>
                                        </div>
                                        <div class="col-12 col-sm-4 col-lg-3">
                                            <label id="checkbox8" class="custom-control custom-checkbox d-block">
                                                <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Street Parking</span> </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-4">


                                    <div class="col-12 col-md-12">   <input value="Rechercher" class="btn btn-primary btn-default" type="submit" name="submit" > </div>
                                </div>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-sm-6 align-self-center">
                                <p>Resultats 1 - 6</p>
                            </div>
                            <div class="col-sm-6">
                                <div class="float-sm-right shorting">
                                    <div class="form-group lis-relative">
                                        <form method="post" action="{{ path('App_bon_plan_list_hotels') }}">
                                            <select name="tri" onchange="this.parentNode.submit();" class="form-control border-0 pl-4">
                                                <option>Trier la liste</option>
                                                <option value="triq">Meilleur qualite</option>
                                                <option value="tris">Meilleur Service</option>
                                                <option value="trid">Default Order</option>
                                            </select>
                                        </form>
                                        <div class="lis-search"> <i class="fa fa-sliders lis-primary lis-left-0"></i> </div>
                                    </div>
                                </div>
                                <div class="float-sm-right shorting">
                                    <div class="form-group lis-relative">
                                        <form method="post" action="{{ path('App_bon_plan_list_hotels') }}">
                                            <select name="tricat" onchange="this.parentNode.submit();" class="form-control border-0 pl-4">
                                                <option> Categorie ? </option>
                                                {%  for a in souscat %}
                                                    <option value="{{ a.id }}">{{ a.nom }} </option>
                                                {% endfor %}
                                            </select>
                                        </form>
                                        <div class="lis-search"> <i class="fa fa-sliders lis-primary lis-left-0"></i> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- affiche -->
                            {% for x in restaurants %}

                                <div class="post col-12 col-md-6 col-lg-6 col-xl-4  wow fadeInUp mb-4">
                                    <div class="card lis-brd-light">
                                        <a href="{{ path("App_bon_plan_profil_hotel",{'id':x.id})  }}">
                                            <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded-top"> <img src="{{vich_uploader_asset(x,'devisFile')}}" alt="" class="img-fluid rounded-top w-100"> </div>

                                            <div class="lis-absolute lis-left-20 lis-top-20">
                                                {%  if (app.user)==( x.iduser) %}
                                                <div  class="lis-post-meta border border-white text-white rounded lis-f-14"  ><a href="{{ path("App_bon_plan_delete_restaurant",{'id':x.id})  }}" class="text-white" > <i class="fa fa-trash text-white"></i> Delete </a></div>


                                            </div>
                                            <div class="lis-absolute lis-right-20 lis-top-20">
                                                <div  class="lis-post-meta border border-white text-white rounded lis-f-14"  ><a href="{{ path("App_bon_plan_update_culture",{'id':x.id})  }}" class="text-white" > <i class="fa fa-pencil text-white"></i> Edit </a></div>
                                                {% endif %}

                                            </div>
                                        </a>
                                        <div class="card-body">
                                            <h6 class="lis-font-weight-600 mb-2"><a href="#" class="lis-dark">{{ x.name }}</a></h6>
                                            <ul class="list-unstyled mt-0">
                                                <li><i class="fa fa-map-o pr-2"></i>{{ x.address }}</li>

                                            </ul>
                                            <div class="clearfix">
                                                <ul class="list-inline mb-0 lis-light-gold font-weight-normal h4">
                                                    {% for i in 1..x.etoile %}
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    {% endfor %}
                                                    <li class="list-inline-item">  </li>
                                                </ul>
                                            </div>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <h5 class="lis-primary mb-0"><span class="lis-f-14 lis-dark">Prix Moyenne:</span> {{ x.prixmoy }} DT </h5> </div>
                                                <div class="media-body align-self-center text-right"> <a href="#" class="lis-light lis-f-14"><i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i></a> </div>

                                            </div>
                                            <p>Qualite:</p> <ul class="list-inline mb-0 lis-light-gold font-weight-normal h4">
                                                {% if    x.moyqualite <0.5 %} {% endif %}
                                                {% if    (( x.moyqualite < 1) and ( x.moyqualite >=0.5)) %}
                                                    <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                                {% endif %}
                                                {% if    (( x.moyqualite <1.5) and ( x.moyqualite >=1)) %}
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                {% endif %}

                                                {% if    (( x.moyqualite <2) and ( x.moyqualite >=1.5)) %}
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                                {% endif %}
                                                {% if    (( x.moyqualite < 2.5) and ( x.moyqualite >=2)) %}
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>

                                                {% endif %}
                                                {% if    (( x.moyqualite < 3) and ( x.moyqualite >=2.5)) %}
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                                {% endif %}
                                                {% if    (( x.moyqualite < 3.5) and ( x.moyqualite >=3)) %}
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>

                                                {% endif %}
                                                {% if    (( x.moyqualite < 4) and ( x.moyqualite >=3.5)) %}
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                                {% endif %}
                                                {% if    (( x.moyqualite < 4.5) and ( x.moyqualite >=4)) %}
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>

                                                {% endif %}
                                                {% if    (( x.moyqualite < 5) and ( x.moyqualite >=4.5)) %}
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                {% endif %}
                                                {% if x.moyqualite==5 %}
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                {% endif %}
                                            </ul>

                                                <p>Serivce :</p> <ul class="list-inline mb-0 lis-light-gold font-weight-normal h4">
                                                    {% if    x.moyservice <0.5 %} {% endif %}
                                                    {% if    (( x.moyservice < 1) and ( x.moyservice >=0.5)) %}
                                                        <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                                    {% endif %}
                                                    {% if    (( x.moyservice <1.5) and ( x.moyservice >=1)) %}
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    {% endif %}

                                                    {% if    (( x.moyservice <2) and ( x.moyservice >=1.5)) %}
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                                    {% endif %}
                                                    {% if    (( x.moyservice < 2.5) and ( x.moyservice >=2)) %}
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>

                                                    {% endif %}
                                                    {% if    (( x.moyservice < 3) and ( x.moyservice >=2.5)) %}
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                                    {% endif %}
                                                    {% if    (( x.moyservice < 3.5) and ( x.moyservice >=3)) %}
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>

                                                    {% endif %}
                                                    {% if    (( x.moyservice < 4) and ( x.moyservice >=3.5)) %}
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                                    {% endif %}
                                                    {% if    (( x.moyservice < 4.5) and ( x.moyservice >=4)) %}
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>

                                                    {% endif %}
                                                    {% if    (( x.moyservice < 5) and ( x.moyservice >=4.5)) %}
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    {% endif %}
                                                    {% if x.moyservice==5 %}
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                        <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                                    {% endif %}
                                                </ul>


                                        </div>

                                        <div class="lis-devider"></div>
                                        <ul class="list-inline mb-0 text-center lis-property-meta">

                                            <li class="list-inline-item lis-brd-right lis-brd-light lis-meta-block float-left"><i class="fa fa-bed pr-1"></i> {{ x.nbrchambre }} Chambres</li>

                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>

                </div>
            </div>

        </section>
        <!--End Sidebar -->
        <!-- Footer-->


    {% endblock %}