{% extends 'base.html.twig' %}

    {% block transparant %} {% endblock %}
    {% block body %}
        <style type="text/css" >
            @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

            /****** Style Star Rating Widget *****/

            .ratingqualite {
                border: none;
                float: left;
            }

            .ratingqualite > input { display: none; }
            .ratingqualite > label:before {
                margin: 5px;
                font-size: 1.25em;
                font-family: FontAwesome;
                display: inline-block;
                content: "\f005";
            }

            .ratingqualite > .halfq:before {
                content: "\f089";
                position: absolute;
            }

            .ratingqualite > label {
                color: #ddd;
                float: right;
            }

            /***** CSS Magic to Highlight Stars on Hover *****/

            .ratingqualite > input:checked ~ label, /* show gold star when clicked */
            .ratingqualite:not(:checked) > label:hover, /* hover current star */
            .ratingqualite:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

            .ratingqualite > input:checked + label:hover, /* hover current star when changing rating */
            .ratingqualite > input:checked ~ label:hover,
            .ratingqualite > label:hover ~ input:checked ~ label, /* lighten current selection */
            .ratingqualite > input:checked ~ label:hover ~ label { color: #FFED85;  }

            /****************/

            .ratingservice {
                border: none;
                float: left;
            }

            .ratingservice > input { display: none; }
            .ratingservice > label:before {
                margin: 5px;
                font-size: 1.25em;
                font-family: FontAwesome;
                display: inline-block;
                content: "\f005";
            }

            .ratingservice > .halfs:before {
                content: "\f089";
                position: absolute;
            }

            .ratingservice > label {
                color: #ddd;
                float: right;
            }

            /***** CSS Magic to Highlight Stars on Hover *****/

            .ratingservice > input:checked ~ label, /* show gold star when clicked */
            .ratingservice:not(:checked) > label:hover, /* hover current star */
            .ratingservice:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

            .ratingservice > input:checked + label:hover, /* hover current star when changing rating */
            .ratingservice > input:checked ~ label:hover,
            .ratingservice > label:hover ~ input:checked ~ label, /* lighten current selection */
            .ratingservice > input:checked ~ label:hover ~ label { color: #FFED85;  }
        </style>
<!--End header -->
<!-- Profile Cover -->
        {% for x in restaurants %}
        <!-- Profile Cover -->
        <section class="image-bg lis-grediant grediant-bt-dark text-white pb-4 profile-inner">
            <div class="background-image-maker"></div>
            <div class="holder-image"> <img src="{{ asset('uploads/images/' ~ x.img2) }}" alt="" class="img-fluid d-none"> </div>
            <div class="container">
                <div class="row justify-content-center wow fadeInUp">
                    <div class="col-12 col-md-8 mb-4 mb-lg-0">
                        <a href="#" class="text-white">
                            <div class="media d-block d-md-flex text-md-left text-center"> <img src="{{vich_uploader_asset(x,'devisFile')}}" width="390" class="img-fluid d-md-flex mr-4 border border-white lis-border-width-4 rounded mb-4 mb-md-0" alt="" />
                                <div class="media-body align-self-center">
                                    <h2 class="text-white font-weight-bold lis-line-height-1">{{ x.name }}</h2>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-4 align-self-center">
                        <ul class="list-unstyled mb-0 lis-line-height-2 text-md-right text-center">
                            <li><i class="fa fa-phone pr-2"></i>{{ x.phone }}</li>
                            <li>
                                <A href="#" class="text-white"><i class="fa fa-envelope pr-2"></i>{{ x.email }}</A>
                            </li>
                            <li>
                                <A href="#" class="text-white"><i class="fa fa-map-o pr-2"></i> {{ x.address }}</A>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--End Profile Cover -->
        <!-- Profile header -->
        <div class="profile-header">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-3 order-xl-1 order-2 text-xl-right text-center">
                        <ul class="nav nav-pills flex-column flex-sm-row lis-font-poppins" id="myTab" role="tablist">
                            <li class="nav-item ml-0"> <a class="nav-link lis-light py-4 lis-relative mr-3 active" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-expanded="true"> Profile</a> </li>
                            <li class="nav-item ml-0"> <a class="nav-link lis-light py-4 lis-relative mr-3" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews"> Reviews</a> </li>
                        </ul>
                    </div>
                    <div class="col-12 col-xl-9 align-self-center order-xl-2 order-1 text-xl-right text-center ">
                        <div class="cover-btn mt-4 mt-xl-0 lis-f-14">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item py-2 mr-0"><a data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" class="lis-light rounded-left"><i class="fa fa-envelope-o pr-1"></i> Add review</a> </li>
                                <li class="list-inline-item py-2 mr-0"><a href="#" class="lis-light"><i class="fa fa-heart-o pr-1"></i> Bookmark</a> </li>
                                <li class="list-inline-item py-2 mr-0"><a href="#" class="lis-light"><i class="fa fa-share pr-1"></i> Share</a> </li>
                                <li class="list-inline-item py-2 mr-0"><a href="{{ path("App_bon_plan_update_hotel",{'id':x.id})  }}" class="btn btn-primary btn-default"> Edit</a> </li>
                                <li class="list-inline-item py-2 mr-0"><a href="{{ path("App_bon_plan_delete_restaurant",{'id':x.id})  }}" class="btn btn-primary btn-default"> Delete</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End header -->
        <!-- Profile Content -->
        <section class="lis-bg-light pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8 mb-5 mb-lg-0">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile">

                                <h6 class="lis-font-weight-500"><i class="fa fa-align-right pr-2 lis-f-14"></i> Description</h6>
                                <li class="list-inline-item mr-0"><a href="https://www.facebook.com/{{ x.facebook }}" target = _blank class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item mr-0"><a href="http://{{ x.website }}"  target = _blank class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i class="fa fa-globe"></i></a></li>
                                <div class="card lis-brd-light wow fadeInUp mb-4">
                                    <div class="card-body p-4">
                                        <p class="mb-0">{{ x.description }}</p>
                                    </div>
                                </div>
                                <h6 class="lis-font-weight-500"><i class="fa fa-chain pr-2 lis-f-14"></i> Amenities</h6>
                                <div class="card lis-brd-light wow fadeInUp mb-4">
                                    <div class="card-body p-4">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <ul class="list-unstyled lis-line-height-2 mb-0">
                                                    {% if x.parking==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Parking</li>{% endif %}
                                                    {% if x.cartecredit==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Accepte carte cerdit</li>{% endif %}
                                                    {% if x.chaiseroulante==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i> Chaise Roulante</li>{% endif %}
                                                    {% if x.fumer==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Fumer</li>{% endif %}
                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <ul class="list-unstyled lis-line-height-2 mb-0">
                                                    {% if x.terasse==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Terrase</li>{% endif %}
                                                    {% if x.wifi==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Wifi</li>{% endif %}
                                                    {% if x.reservations==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Reservation</li>{% endif %}

                                                </ul>
                                            </div>
                                            <div class="col-lg-4">
                                                <ul class="list-unstyled lis-line-height-2 mb-0">
                                                    {% if x.alcool==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Aclhool</li>{% endif %}
                                                    {% if x.climatisation==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Climatisation</li>{% endif %}
                                                    {% if x.animaux==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Accepte les animaux</li>{% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h6 class="lis-font-weight-500"><i class="fa fa-photo pr-2 lis-f-14"></i> Gallery</h6>
                                <div class="card lis-brd-light wow fadeInUp">
                                    <div class="card-body py-4 px-0">
                                        <div class="center3 slider">
                                            <div>
                                                <div class="gallery text-center lis-relative"> <img src="{{ asset('uploads/images/' ~ x.img1) }}" alt="" class="img-fluid rounded" />
                                                    <div class="gallery-fade fade w-100 h-100 rounded">
                                                        <div class="d-table w-100 h-100">
                                                            <div class="d-table-cell align-middle">
                                                                <div class="h4">
                                                                    <a data-toggle="lightbox" data-gallery="example-gallery" href="{{ asset('uploads/images/' ~ x.img1) }}" class="text-white"> <i class="fa fa-search-plus"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="gallery text-center lis-relative"> <img src="{{ asset('uploads/images/' ~ x.img2) }}" alt="" class="img-fluid rounded" />
                                                    <div class="gallery-fade fade w-100 h-100 rounded">
                                                        <div class="d-table w-100 h-100">
                                                            <div class="d-table-cell align-middle">
                                                                <div class="h4">
                                                                    <a data-toggle="lightbox" data-gallery="example-gallery" href="{{ asset('uploads/images/' ~ x.img2) }}" class="text-white"> <i class="fa fa-search-plus"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="gallery text-center lis-relative"> <img src="{{ asset('uploads/images/' ~ x.img3) }}" alt="" class="img-fluid rounded" />
                                                    <div class="gallery-fade fade w-100 h-100 rounded">
                                                        <div class="d-table w-100 h-100">
                                                            <div class="d-table-cell align-middle">
                                                                <div class="h4">
                                                                    <a data-toggle="lightbox" data-gallery="example-gallery" href="{{ asset('uploads/images/' ~ x.img3) }}" class="text-white"> <i class="fa fa-search-plus"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <h6 class="lis-font-weight-500"><i class="fa fa-map-o pr-2 lis-f-14"></i> Location</h6>
                                <div class="card lis-brd-light wow fadeInUp mb-4">
                                    <div class="card-body p-4">
                                        <div id="map-canvas" style='height: 350px;'></div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews">
                                <h6 class="lis-font-weight-500"><i class="fa fa-signal pr-2 lis-f-14"></i> Reviews</h6>
                                {% for x in pagination %}
                                    <div class="card lis-brd-light wow fadeInUp mb-2">
                                        <div class="card-body p-4">
                                            <div class="media d-block d-sm-flex text-center text-sm-left">
                                                <a href="#"><img src="{{vich_uploader_asset(x.iduser,'devisFile')}}" class="img-fluid d-md-flex mr-sm-4 rounded-circle" alt="" width="60" /></a>
                                                <div class="media-body align-self-center">
                                                    <ul class="list-inline mb-0 lis-light-gold font-weight-normal h5 float-sm-right float-none my-md-0 my-3">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                    <h6 class="mb-0"><a href="#" class="lis-dark">{{ x.iduser.name }} {{ x.iduser.surname }}</a></h6>
                                                    <p>{{ x.date|date('d M, Y | H:i') }}</p>
                                                    <h6 class="lis-primary mb-2">{{ x.titre }}</h6>
                                                    <p>{{ x.commentaire }}</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="pagination list-inline mb-0 text-center text-uppercase lis-f-14 justify-content-center my-4">
                                    {{ knp_pagination_render(pagination) }}
                                    <script src="{{ asset('jquery-3.2.1.min.js') }}" TYPE="text/javascript">
                                        $(function() {
                                            var knp = new KnpPaginatorAjax();

                                            knp.init({
                                                'loadMoreText': 'Load More', //load more text
                                                'loadingText': 'Loading..', //loading text
                                                'elementsSelector': '#elements', //this is where the script will append and search results
                                                'paginationSelector': 'ul.pagination', //pagination selector
                                            });
                                        });
                                    </script>
                                </div>
                                <h6 class="lis-font-weight-500"><i class="fa fa-commenting pr-2 lis-f-14"></i>  Add Review</h6>
                                <div class="card lis-brd-light wow fadeInUp">
                                    <div class="card-body p-4">

                                        <div class="row">

                                            <div class="col-12 col-sm-12">

                                                <form method="post">
                                                    {{ form_start(form) }}
                                                    <div class="col-12 col-sm-12">
                                                        <h8 class="lis-font-weight-500"><i class="fa fa-star pr-2 lis-f-14"></i> Notez la qualite </h8>
                                                        <div class="form-group lis-relative">

                                                            <fieldset class="ratingqualite">
                                                                <input type="radio" id="star5q" name="ratingqualite" value="5" /><label class = "fullq" for="star5q" title="Awesome - 5 stars"></label>
                                                                <input type="radio" id="star4halfq" name="ratingqualite" value="4.5" /><label class="halfq" for="star4halfq" title="Pretty good - 4.5 stars"></label>
                                                                <input type="radio" id="star4q" name="ratingqualite" value="4" /><label class = "fullq" for="star4q" title="Pretty good - 4 stars"></label>
                                                                <input type="radio" id="star3halfq" name="ratingqualite" value="3.5" /><label class="halfq" for="star3halfq" title="Meh - 3.5 stars"></label>
                                                                <input type="radio" id="star3q" name="ratingqualite" value="3" /><label class = "fullq" for="star3q" title="Meh - 3 stars"></label>
                                                                <input type="radio" id="star2halfq" name="ratingqualite" value="2.5" /><label class="halfq" for="star2halfq" title="Kinda bad - 2.5 stars"></label>
                                                                <input type="radio" id="star2q" name="ratingqualite" value="2" /><label class = "fullq" for="star2q" title="Kinda bad - 2 stars"></label>
                                                                <input type="radio" id="star1halfq" name="ratingqualite" value="1.5" /><label class="halfq" for="star1halfq" title="Meh - 1.5 stars"></label>
                                                                <input type="radio" id="star1q" name="ratingqualite" value="1" /><label class = "fullq" for="star1q" title="Sucks big time - 1 star"></label>
                                                                <input type="radio" id="starhalfq" name="ratingqualite" value="0.5" /><label class="halfq" for="starhalfq" title="Sucks big time - 0.5 stars"></label>
                                                            </fieldset>
                                                        </div></div>
                                                    <br><hr>
                                                    <div class="col-12 col-sm-12">
                                                        <h8 class="lis-font-weight-500"><i class="fa fa-star pr-2 lis-f-14"></i> Notez le service </h8>
                                                        <div class="form-group lis-relative">

                                                            <fieldset class="ratingservice">
                                                                <input type="radio" id="star5s" name="ratingservice" value="5" /><label class = "fulls" for="star5s" title="Awesome - 5 stars"></label>
                                                                <input type="radio" id="star4halfs" name="ratingservice" value="4.5" /><label class="halfs" for="star4halfs" title="Pretty good - 4.5 stars"></label>
                                                                <input type="radio" id="star4s" name="ratingservice" value="4" /><label class = "fulls" for="star4s" title="Pretty good - 4 stars"></label>
                                                                <input type="radio" id="star3halfs" name="ratingservice" value="3.5" /><label class="halfs" for="star3halfs" title="Meh - 3.5 stars"></label>
                                                                <input type="radio" id="star3s" name="ratingservice" value="3" /><label class = "fulls" for="star3s" title="Meh - 3 stars"></label>
                                                                <input type="radio" id="star2halfs" name="ratingservice" value="2.5" /><label class="halfs" for="star2halfs" title="Kinda bad - 2.5 stars"></label>
                                                                <input type="radio" id="star2s" name="ratingservice" value="2" /><label class = "fulls" for="star2s" title="Kinda bad - 2 stars"></label>
                                                                <input type="radio" id="star1halfs" name="ratingservice" value="1.5" /><label class="halfs" for="star1halfs" title="Meh - 1.5 stars"></label>
                                                                <input type="radio" id="star1s" name="ratingservice" value="1" /><label class = "fulls" for="star1s" title="Sucks big time - 1 star"></label>
                                                                <input type="radio" id="starhalfs" name="ratingservice" value="0.5" /><label class="halfs" for="starhalfs" title="Sucks big time - 0.5 stars"></label>
                                                            </fieldset>
                                                        </div></div>
                                                    <br><hr>
                                                    <div class="col-12 col-sm-12">
                                                        <div class="form-group lis-relative">
                                                            {{ form_errors(form.titre) }}
                                                            {{ form_widget(form.titre, {'attr': {'class': 'form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4','placeholder':'Titre du review'}}) }}</div>

                                                        <div class="lis-search"> <i class="fa fa-drivers-license-o lis-primary lis-left-0"></i>

                                                        </div>
                                                    </div>

                                                    <div class="col-12 col-sm-12">
                                                        <div class="form-group lis-relative">
                                                            {{ form_errors(form.commentaire) }}
                                                            {{ form_widget(form.commentaire, {'attr': {'class': 'form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4','placeholder':'Votre review '}}) }}


                                                            <div class="lis-search"> <i class="fa fa-pencil lis-primary lis-left-0 lis-top-10"></i> </div>
                                                        </div>
                                                    </div>



                                                    {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-primary btn-default mt-3'}}) }}
                                                    {{ form_end(form) }}
                                                </form>







                                            </div>



                                        </div>
                                        {{ form_end(form) }}</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <h6 class="lis-font-weight-500"><i class="fa fa-dot-circle-o pr-2 lis-f-14"></i> Status</h6>
                        <div class="card lis-bg-primary lis-brd-primary mb-4">
                            <div class="card-body p-4">
                                <div class="media d-block d-xl-flex text-white">

                                    <div class="media-body align-self-center">
                                        <p class="mb-0"> <strong>Prix Moyenne:</strong> <strong class="h5">{{ x.prixmoy }} </strong> DT / Nuit </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="lis-font-weight-500"><i class="fa fa-star pr-2 lis-f-14"></i> Property Ratings</h6>
                        <div class="card lis-brd-light wow fadeInUp mb-4">
                            <div class="card-body p-4">
                                <ul class="list-inline mb-0 lis-light-gold font-weight-normal h4">
                                    {% for i in 1..x.etoile %}
                                    <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                  {% endfor %}
                                    <li class="list-inline-item"> {{ x.etoile }} Etoiles </li>
                                </ul>
                                <hr>
                                <div class="card-body p-4">
                                    <h8 class="lis-font-weight-500"><i class="fa fa-user pr-2 lis-f-14"></i> Moyenne de {{ nbruser }} votes </h8>
                                    <hr>
                                    <p>Qualite:</p> <ul class="list-inline mb-0 lis-light-gold font-weight-normal h4">
                                        {% if    moyqualite <0.5 %} {% endif %}
                                        {% if    (( moyqualite < 1) and ( moyqualite >=0.5)) %}
                                            <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                        {% endif %}
                                        {% if    (( moyqualite <1.5) and ( moyqualite >=1)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                        {% endif %}

                                        {% if    (( moyqualite <2) and ( moyqualite >=1.5)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                        {% endif %}
                                        {% if    (( moyqualite < 2.5) and ( moyqualite >=2)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>

                                        {% endif %}
                                        {% if    (( moyqualite < 3) and ( moyqualite >=2.5)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                        {% endif %}
                                        {% if    (( moyqualite < 3.5) and ( moyqualite >=3)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>

                                        {% endif %}
                                        {% if    (( moyqualite < 4) and ( moyqualite >=3.5)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                        {% endif %}
                                        {% if    (( moyqualite < 4.5) and ( moyqualite >=4)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>

                                        {% endif %}
                                        {% if    (( moyqualite < 5) and ( moyqualite >=4.5)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                        {% endif %}
                                        {% if moyqualite==5 %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                        {% endif %}



                                    </ul> <small>{{ moyqualite|number_format(2, '.', ',') }} moyenne</small> </div>

                                <div class="card-body p-4">
                                    <p>Service:</p> <ul class="list-inline mb-0 lis-light-gold font-weight-normal h4">
                                        {% if    moyservice <0.5 %} {% endif %}
                                        {% if    (( moyservice < 1) and ( moyservice >=0.5)) %}
                                            <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                        {% endif %}
                                        {% if    (( moyservice <1.5) and ( moyservice >=1)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                        {% endif %}

                                        {% if    (( moyservice <2) and ( moyservice >=1.5)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                        {% endif %}
                                        {% if    (( moyservice < 2.5) and ( moyservice >=2)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>

                                        {% endif %}
                                        {% if    (( moyservice < 3) and ( moyservice >=2.5)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                        {% endif %}
                                        {% if    (( moyservice < 3.5) and ( moyservice >=3)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>

                                        {% endif %}
                                        {% if    (( moyservice < 4) and ( moyservice >=3.5)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star-half-o'></i></li>
                                        {% endif %}
                                        {% if    (( moyservice < 4.5) and ( moyservice >=4)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>

                                        {% endif %}
                                        {% if    (( moyservice < 5) and ( moyservice >=4.5)) %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                        {% endif %}
                                        {% if moyservice==5 %}
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                            <li class="list-inline-item"><i class='fa fa-star'></i></li>
                                        {% endif %}
                                    </ul> <small>{{ moyservice|number_format(2, '.', ',') }} moyenne</small> </div>
                            </div>

                        </div>
                        <h6 class="lis-font-weight-500"><i class="fa fa-leaf pr-2 lis-f-14"></i> Features</h6>
                        <div class="card lis-brd-light wow fadeInUp mb-4">
                            <div class="card-body p-4">
                                <ul class="list-unstyled mb-0 lis-line-height-3_5">

                                    <li class="border border-top-0 border-left-0 border-right-0 lis-brd-light"><i class="fa fa-bed pr-2"></i> Nombre de Chambres<span class="float-right">  {{ x.nbrchambre }}</span></li>
                                    <li class="border border-top-0 border-left-0 border-right-0 lis-brd-light"><i class="fa fa-arrow-circle-right pr-2"></i> Check-IN <span class="float-right"> {{ x.checkin }}</span></li>
                                    <li class="border border-top-0 border-left-0 border-right-0 lis-brd-light"><i class="fa fa-arrow-circle-o-left pr-2"></i> Check-Out<span class="float-right"> {{ x.checkout }}</span></li>
                                    <li class="border border-top-0 border-left-0 border-right-0 lis-brd-light">
                                        <ul class="list-unstyled lis-line-height-2 mb-0">
                                                    {% if x.lpd==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Logement Petit Déjeuner</li>{% endif %}
                                            {% if x.dp==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i>  Demi Pension</li>{% endif %}
                                            {% if x.pc==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i> Pension Complete</li>{% endif %}
                                            {% if x.allinclusive==1 %}  <li><i class="fa fa-check-square pr-2 lis-primary"></i> All inclusive</li>{% endif %}
                                                </ul>

                                        </li>


                                </ul>
                            </div>
                        </div>

                        <h6 class="lis-font-weight-500"><i class="fa fa-user-secret pr-2 lis-f-14"></i>  Author</h6>
                        <div class="card lis-brd-light wow fadeInUp mb-4">
                            <div class="card-body p-4">
                                <div class="media d-md-flex">
                                    <a href="#"><img src="{{vich_uploader_asset(x.iduser,'devisFile')}}" class="img-fluid d-flex mr-4 rounded-circle" alt="" width="70" /></a>
                                    <div class='media-body align-self-center'>
                                        <h6 class="mb-0"><a href="#" class="lis-dark">{{ x.iduser.name }}</a></h6>
                                        <p class='mb-0'>Membre depuis {{ x.iduser.date |date('M Y') }}</p>
                                    </div>
                                </div>
                                <ul class="list-unstyled my-4 lis-line-height-2">
                                    <li><i class="fa fa-phone pr-2"></i> {{ app.user.phone }}</li>
                                    <li><i class="fa fa-map-o pr-2"></i> {{ app.user.address }}</li>
                                </ul>
                                <ul class="list-inline my-0">
                                    <li class="list-inline-item mr-0"><a href="#" class="lis-light lis-social border lis-brd-light text-center lis-line-height-2_3 rounded d-block"><i class="fa fa-facebook"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <h6 class="lis-font-weight-500"><i class="fa fa-envelope pr-2 lis-f-14"></i>  Send Message</h6>
                        <div class="card lis-brd-light wow fadeInUp">
                            <div class="card-body p-4">
                                <div class="form-group lis-relative">
                                    <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Your Name">
                                    <div class="lis-search"> <i class="fa fa-user lis-primary lis-left-0"></i> </div>
                                </div>
                                <div class="form-group lis-relative">
                                    <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Email address">
                                    <div class="lis-search"> <i class="fa fa-envelope lis-primary lis-left-0"></i> </div>
                                </div>
                                <div class="form-group lis-relative">
                                    <textarea class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Message"></textarea>
                                    <div class="lis-search"> <i class="fa fa-pencil lis-primary lis-left-0 lis-top-10"></i> </div>
                                </div> <a href="#" class="btn btn-primary btn-default"> Submit Message</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZL72zG-8qoQipgaQ97aC1rxYuxuyDYX0"
                    type="text/javascript"></script>
            <script>
                var myCenter =new google.maps.LatLng({{ x.latitude }},{{ x.longitude }});
                var marker;
                function initialize() {
                    var mapProp= {
                        center: myCenter,
                        zoom: 15,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    var map = new google.maps.Map(document.getElementById('map-canvas'),
                        mapProp);
                    var marker = new google.maps.Marker({
                        position: myCenter,
                        animation: google.maps.Animation.BOUNCE
                    });
                    marker.setMap(map);
                }
                google.maps.event.addDomListner(window,'load',initialize());
            </script>
        {% endfor %}
    {% endblock %}