<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Espace Administrateur </title>


        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('BackOffice/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{{ asset('BackOffice/vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href=" {{ asset('BackOffice/dist/css/sb-admin-2.css') }}" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href=" {{ asset('BackOffice/vendor/morrisjs/morris.css') }}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href=" {{ asset('BackOffice/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Basculer la navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ asset('App_bon_plan_admin') }}">Espace Administrateur</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Hier</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Hier</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                <span class="pull-right text-muted">
                                        <em>Hier</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Lire tous les messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Tâche 1</strong>
                                    <span class="pull-right text-muted">40% terminé</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% terminé (Succès)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Tâche 2</strong>
                                    <span class="pull-right text-muted">40% terminé</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">40% terminé</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Tâche 3</strong>
                                    <span class="pull-right text-muted">60% terminé</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% terminé (Attention)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Tâche 4</strong>
                                    <span class="pull-right text-muted">80% terminé</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80%terminé (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Voir toutes les tâches</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> Nouveau commentaire
                                <span class="pull-right text-muted small">il y a 4 minutes</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 nouveaux abonnés
                                <span class="pull-right text-muted small">Il y a 12 minutes</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message envoyé
                                <span class="pull-right text-muted small">il y a 4 minutes</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> Nouvelle tâche
                                <span class="pull-right text-muted small">
il y a 4 minutes</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Serveur redémarré
                                <span class="pull-right text-muted small">
il y a 4 minutes</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Voir toutes les alertes</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i>
                            Profil de l'utilisateur</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Paramètres</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href=" {{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="{{ path('App_bon_plan_admin') }}"><i class="fa fa-dashboard fa-fw"></i> Tableau de bord</a>
                    </li>
                    <li  >



                        <!-- /.nav-second-level -->
                    </li>

                    {#<li>#}

                    {#<ul class="nav nav-second-level">#}
                    {#<li>#}

                    {#<li  >#}
                    {#<a href="#"><i class="fa fa-heart fa-fw"></i> Gestion des mariages<span class="fa arrow"></span></a>#}
                    {#<ul class="nav nav-third-level collapse in" aria-expanded="true" style="">#}
                    {#<li>#}
                    {#<a href="{{ path('show_salle',{})}}">Salles de fêtes</a>#}
                    {#</li>#}
                    {#<li>#}
                    {#<a href="{{ path('habit_show',{})}}">Habits</a>#}
                    {#</li>#}
                    {#<li>#}
                    {#<a href="{{ path('show_espace',{})}}">Espaces beauté</a>#}
                    {#</li>#}
                    {#</ul>#}
                    {#<!-- /.nav-third-level -->#}
                    {#</li>#}
                    {#</li>#}

                    {#</ul>#}
                    {#<!-- /.nav-second-level -->#}
                    {#</li>#}
                    <li>
                        <a href="#"><i class="fa fa-heart fa-fw"></i> Gestion des Categories<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
                            <li  >
                                <a href="#">XXXXXX <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse in" aria-expanded="true" style="">
                                    <li>
                                        <a href="">XXXX</a>
                                    </li>
                                    <li>
                                        <a href="">XXXXX</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
                            <li  >
                                <a href="#">XXXXXXXXXX 2  <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse in" aria-expanded="true" style="">
                                    <li>
                                        <a href="">xxxxxxx</a>
                                    </li>
                                    <li>
                                        <a href="">xxxxx</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-home fa-fw"></i> Gestion des Etablissement<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
                            <li  >
                                <a href="#">Gestion  des Restaurants <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse in" aria-expanded="true" style="">
                                    <li>
                                        <a href="{{ path('App_bon_plan_ajout_restaurant_admin') }}">Ajouter un restaurant</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('App_bon_plan_list_restaurant_admin') }}"> Liste des restaurants</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
                            <li  >
                                <a href="#">Gestion des hôtels  <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse in" aria-expanded="true" style="">
                                    <li>
                                        <a href="{{ path('App_bon_plan_ajout_hotel_admin') }}">Ajouter un hôtel</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('App_bon_plan_list_hotel_admin') }}">Voir liste des hôtels</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
                            <li  >
                                <a href="#">Gestion des espaces culturels <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse in" aria-expanded="true" style="">
                                    <li>
                                        <a href="{{ path('App_bon_plan_ajout_culture_admin') }}">Ajouter un espace culturel</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('App_bon_plan_list_culture_admin') }}">Voir liste des espace culturels</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
                            <li class="active">
                                <a href="#">Gestion un espace de beauté <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse in" aria-expanded="true" style="">
                                    <li>
                                        <a href="{{ path('App_bon_plan_ajout_beaute_admin') }}">Ajouter un espace de beauté</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('App_bon_plan_list_beaute_admin') }}">Voir liste des espace de beauté</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-heart fa-fw"></i> Gestion des Deals<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
                            <li  >
                                <a href="#">XXXXXX <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse in" aria-expanded="true" style="">
                                    <li>
                                        <a href="">XXXX</a>
                                    </li>
                                    <li>
                                        <a href="">XXXXX</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
                            <li  >
                                <a href="#">XXXXXXXXXX 2  <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse in" aria-expanded="true" style="">
                                    <li>
                                        <a href="">xxxxxxx</a>
                                    </li>
                                    <li>
                                        <a href="">xxxxx</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-heart fa-fw"></i> Gestion des Blogs<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
                            <li  >
                                <a href="#">XXXXXX <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse in" aria-expanded="true" style="">
                                    <li>
                                        <a href="">XXXX</a>
                                    </li>
                                    <li>
                                        <a href="">XXXXX</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
                            <li  >
                                <a href="#">XXXXXXXXXX 2  <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse in" aria-expanded="true" style="">
                                    <li>
                                        <a href="">xxxxxxx</a>
                                    </li>
                                    <li>
                                        <a href="">xxxxx</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-heart fa-fw"></i> Gestion des Evenements<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
                            <li  >
                                <a href="#">XXXXXX <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse in" aria-expanded="true" style="">
                                    <li>
                                        <a href="">XXXX</a>
                                    </li>
                                    <li>
                                        <a href="">XXXXX</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <ul class="nav nav-second-level collapse in" aria-expanded="true" style="">
                            <li  >
                                <a href="#">XXXXXXXXXX 2  <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse in" aria-expanded="true" style="">
                                    <li>
                                        <a href="">xxxxxxx</a>
                                    </li>
                                    <li>
                                        <a href="">xxxxx</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
        {% block content %}

        {% endblock %}
    </div>
</div>

<!-- /#wrapper -->
<!-- jQuery -->
<script src=" {{ asset('BackOffice/vendor/jquery/jquery.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src=" {{ asset('BackOffice/vendor/bootstrap/js/bootstrap.min.js') }}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src=" {{ asset('BackOffice/vendor/metisMenu/metisMenu.min.js') }}"></script>

<!-- Morris Charts JavaScript -->
<script src=" {{ asset('BackOffice/vendor/raphael/raphael.min.js') }}"></script>
<script src=" {{ asset('BackOffice/vendor/morrisjs/morris.min.js') }}"></script>
<script src=" {{ asset('BackOffice/data/morris-data.js') }}"></script>

<!-- Custom Theme JavaScript -->
<script src=" {{ asset('BackOffice/dist/js/sb-admin-2.js') }}"></script>


{% block myscript %}{% endblock %}
</body>

</html>
