{% extends 'base.html.twig' %}
{% block title %} {{ title }} {% endblock %}
{% block transparant %} {% endblock %}

{% block body %}
    <!-- Page Inner -->
    <section class="lis-bg-light pb-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col-12 col-sm-6 wow fadeInLeft">
                    <div class="page-title">
                        <h2>{{ title }}</h2>
                    </div>
                </div>
                <div class="col-12 col-sm-6 text-left text-sm-right wow fadeInRight">
                    <ol class="breadcrumb mb-0 pl-0 bg-transparent">
                        <li class="breadcrumb-item d-inline-block float-none"><a href="{{ path('App_bon_plan_home') }}" class="lis-light">Home</a></li>
                        <li class="breadcrumb-item d-inline-block float-none active">{{ title }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Inner -->
    <!-- Blog Single -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9 mb-5 mb-lg-0">
                    <div class="mb-4 wow fadeInUp">
                        <div class="card border-0 lis-relative">
                            <a href="#">

                                <div class="lis-grediant grediant-tb-light2 lis-relative rounded-top post-image"> <img src="{{ vich_uploader_asset(Article,"devisFile") }}" alt="" class="img-fluid rounded-top w-100" /> </div>
                                    </a>
                        </div>
                        <div class="card border-top-0 lis-brd-light lis-bg-light">
                            <div class="card-body p-4">
                                <ul class="list-inline comment-info">
                                    <li class="list-inline-item lis-relative mr-4"><i class="fa fa-user pr-1 lis-dark"></i> By <a href="#" class="lis-primary"></a></li>
                                    <li class="list-inline-item lis-relative mr-4"><a href="#" class="lis-light"><i class="fa fa-calendar pr-1 lis-dark"></i>  {{ date|date('d/m/Y') }}</a></li>
                                    <li class="list-inline-item lis-relative mr-4" ><a href="#" class="lis-light"><i class="fa fa-comments pr-1 lis-dark"></i>  3 Comments</a></li>
                                    <li class="list-inline-item lis-relative"> {{ socialButtons({'linkedin':false, 'twitter':false, 'googleplus':false, }) }}   </li>
                                </ul>
                                <p>{{ content | raw}}</p>
                                <div class="card lis-brd-light">
                                    <div class="card-body">
                                        <div class="clearfix">
                                            <div class="float-none float-sm-left mb-2 mb-sm-0">
                                                <p class="lis-f-14 mb-0"><span class="lis-dark lis-font-weight-700">TAG : </span> </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <h6>3 Comments</h6>
                    <div class="card lis-brd-light wow fadeInUp mb-4">
                        <div class="card-body p-4">
                            <div class="media d-block d-sm-flex text-center text-sm-left">
                                <a href="#"><img src="dist/images/author2.jpg" class="img-fluid d-md-flex mr-sm-4 rounded-circle mb-2 mb-sm-0" alt="" width="80"></a>
                                <div class="media-body align-self-center">
                                    <div class="float-sm-right float-none my-2"> <a href="#" class="btn-reply lis-light border lis-brd-light lis-rounded-circle-50"> Reply</a> </div>
                                    <h6 class="mb-0"><a href="#" class="lis-dark">Abelson Dixon</a></h6>
                                    <p class="lis-f-14 lis-primary lis-font-weight-500 mb-2">August 22, 2017</p> Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. </div>
                            </div>
                        </div>

                        <div class="lis-devider"></div>

                    </div>
                    <h6>Ajouter votre commentaire</h6>
                    {{ form_start(form) }}
                    <div class="form-group lis-relative">
                        {{ form_widget(form.content,{'attr': {'class': 'form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4','placeholder':'Review'}}) }}
                        <div class="lis-search"> <i class="fa fa-pencil lis-primary lis-left-0 lis-top-10"></i> </div>
                    </div> <input type="submit" class="btn btn-primary btn-default mt-3" value="Submit Commentaire"></div>
                {{ form_end(form) }}
                </div>



            </div>
        </div>
    </section>
    <!--End Blog Single -->
{% endblock %}